<div id= "micanvas" href="pie-chart.component.css" class="dash-widget">
  <h3>TIPO DE SANGRE</h3>
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [colors]="pieChartColors">
    </canvas>
  </div>


<div id= "micanvas2" href="pie-chart.component.css" class="dash-widget"> 
  <h3>USUARIOS CON SEGURO</h3>
    <canvas baseChart
      [data]="pieChartData2"
      [labels]="pieChartLabels2"
      [chartType]="pieChartType2"
      [options]="pieChartOptions2"
      [plugins]="pieChartPlugins2"
      [legend]="pieChartLegend2"
      [colors]="pieChartColors2">
    </canvas>
</div>

<div id= "micanvas3" href="pie-chart.component.css">

</div>