#micanvas {
    display: inline;
    position: absolute; 
    width:500px; 
    height:200px;
    top:100px;
    left:260px;
    
}

#micanvas2 {
    display: inline; 
    position: absolute;
    width:500px; 
    height:500px;
    top:450px;
    left:260px;
   
    
}