#micanvas {
    display: inline;
    position: absolute; 
    width:500px; 
    height:300px;
    top:100px;
    left:260px;  
}

#micanvas2 {
    display: inline; 
    position: absolute;
    width:500px; 
    height:300px;
    top:450px;
    left:260px;   
}

#miboton1 {
    display: inline;
    position: absolute;
    top:350px;
    left:270px;  
}

#miboton2 {
    display: inline;
    position: absolute; 
    top:350px;
    left:635px;  
}

#miboton3 {
    display: inline;
    position: absolute; 
    top:700px;
    left:270px; 
}

#miboton4 {
    display: inline;
    position: absolute; 
    top:700px;
    left:635px;
}

#miboton5 {
    display: inline;
    position: absolute; 
    top:700px;
    left:610px;
}