#micanvas1 {
    display: inline; 
    position: absolute;
    width:500px; 
    height:200px;
    top:100px;
    left:760px;    
}

#micanvas2 {
    display: inline; 
    position: absolute;
    width:500px; 
    height:200px;
    top:450px;
    left:760px;    
}