<body>
    <div class="main-wrapper">
    
        <div class="page-wrapper">
            <div class="content" *ngIf="DataRolesListo">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Rol</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
                                    <h4>Crear Rol</h4>
                                    <form #f="ngForm" (ngSubmit)="PostRoles()">
                                        <label for="">Nombre</label>
                                        <input type="text" class="form-control" placeholder="Ingrese un nombre" [(ngModel)]="nombre" name="nombre">
                                        <label for="" class="mt-3">Descripcion</label>
                                        <input type="text" class="form-control" placeholder="Ingrese una descripcion" [(ngModel)]="descripcion" name="descripcion">
                                        <button class="btn btn-primary mt-4 float-right" type="submit">Agregar</button>
                                    </form>
                                    <div class="col-sm-12">
                      
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Descripcion</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dato of DataRoles;let i = index">
                                            <th>{{i+1}}</th>
                                            <th>{{dato.name}}</th>
                                            <th>{{dato.description}}</th>
                                            <th><button type="submit" class="btn btn-danger" (click)="DeleteRoles(dato._id)">Eliminar</button></th>

                                        </tr>
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

