<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="">
                <h3 class="text-center">Inicio</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h2 class="text-center">SISTEMA DE ADMINISTRACION MEDICA</h2>
                    <div class="row">
                        <div class="col-sm-6 m-b-20">
                            <img src="assets/img/logo-dark.png" class="inv-logo" alt="">
                            <ul class="list-unstyled mb-0">
                                <li>PreClinic</li>
                                <li>Av. Germán Amézaga 375</li>
                                <li>Cercado de Lima, Lima </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 m-b-20">
                            <div class="invoice-details">
                                <h4 class="text">Facultad de Ingenieria de Sistemas e Informatica</h4>
                                <ul class="list-unstyled">
                                    <span>Diciembre, 2020</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-b-20">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="mb-0"><strong>UNIDAD DE BIENESTAR</strong></h5>
                                </li>
                                <li><span>Jefa del area</span></li>
                                <li>Employee ID: NS-0001</li>
                                <li>Teléfono: 619 - 7000 Anexo 3615</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <h4 class="m-b-10"><strong>INTEGRANTES</strong></h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><strong>Cancho Yupanqui Evison</strong> <span class="float-right">17200058</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Carrillo Delgado Aaron</strong> <span class="float-right">17200061</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Cayatopa Yauri Angel</strong> <span class="float-right">17200010</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Obregon Castro Jairo</strong> <span class="float-right">17200070</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Alegre Saenz Diego</strong> <span class="float-right"><strong>09200002 </strong></span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Quiroz Vento Oskar</strong> <span class="float-right"><strong> 11200099</strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <h4 class="m-b-10"><strong>ROLES</strong></h4>
                                <table class="table table-bordered text-center">
                                    <tbody>
                                        <tr>
                                            <td><strong>Scrum Master</strong> </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Development Team</strong> </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Product Owner</strong> </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Development Team</strong> </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Development Team</strong> </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Development Team</strong> </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>